service fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.samsung_sdm845
    class late_start
    user system
    group system input

on boot
    # Permissions for fingerprint sensors
    chown system radio /sys/class/fingerprint/fingerprint/type_check
    chown system radio /sys/class/fingerprint/fingerprint/name
    chown system radio /sys/class/fingerprint/fingerprint/vendor
    chown system radio /sys/class/fingerprint/fingerprint/adm
    chown system radio /sys/class/fingerprint/fingerprint/bfs_values
